
div.image{
	content: src(\Images\burger.jpeg);
	font-size: 10vw;
}

.burger{
  display: block;
  float: right;
  width: 8vw;
}
.main-nav:hover ul{
    display:block;
}

ul{
  display: none;
    list-style: none;
    clear: both;
    float: right;
    padding: 5px;
}

@media only screen and (min-width: 640px){
  .burger{
    display: none;
  }
  ul {
    display:block;
    list-style: none;
    clear: both;
    text-align: center;

  }
  div{
    text-align: center;
  }
  header{
    background-color: grey;
  }
}



h1 {
  float: left;
}
