
div.image{
	content: src(\Images\burger.jpeg);
	font-size: 10vw;
}
ul {
  display:none;
}
.burger{
  display: block;
  float: right;
  width: 8vw;
}
.main-nav:hover ul{
    display:block;
}
ul{
    list-style: none;
    clear: both;
    float: right;
    padding: 5px;
}
@media only screen and (min-width: 640px){
  .burger{
    display: none;
    float: right;
    width: 8vw;
  }
  ul{
    display:block;

    list-style: none;
    clear: both;
    text-align: center;
  }
}



h1 {
  float: left;
}
