html{
  width: auto;
  background-image: url(/Images/brownpaper.jpg);
}

header{
  background-image: url(/Images/woodtexture.jpg);
  width: 80%;
  text-align: center;
  margin:auto;
}

.about-me{
	text-align: center;
	clear: both;
	width: 100%;
}

.my-projects{
	text-align: center;
	clear: both
	width: 100%;
}

ul{
  display: none;
    list-style: none;
    clear: both;
    width: 100%;
    padding: 20px;
		text-align: center;

}

li{
	margin-top: 5px;
	padding: 10px;
	max-width:90%;
	margin-left: auto;
	margin-right: auto;
	border: solid;
}
