h1{
	clear: both;
	font-family: 'Pirata One', cursive;
	color: sandybrown;
	font-size: 6vw;
	padding-top: 8%;

}

.main-nav:hover ul{
     display:block;
}

main-nav li:hover{
	background-color: red;
}

.burger{
  display: block;
  float: right;
  width: 8vw;
	height: 8vw;
}

img {
	height: 12vw;
	width: 12vw;
	border: solid;
	border-color: black;

}
.my-articles {
text-align: center;
clear: both;
}
.my-articles h3{
	font-family: 'Pirata One', cursive;
	font-size: 5vw;
}

@media only screen and (min-width: 640px){
  .burger{
    display: none;
  }
}
