@media only screen and (min-width: 640px){
  .burger{
    display: none;
  }

  ul {
    display:block;
    list-style: none;
    clear: both;
    text-align: center;
		width: 100%;
	clear:both;
  }

	li{
		margin-top: 5px;
		padding: 10px;
		width:100%;
		text-align: center;

	}
	li:hover {
		background-color: #254477;

	}
  header{
    background-color: grey;
		text-align: center;
		clear: both;
  }

	.about-me{
		clear: both;
	}
}
